
/* ============================================= */
/*              Grid System                      */
/* ============================================= */
//Nested grids




.mainContainer {
  
  display: grid;
  grid-template-columns: 1fr ;
 
  grid-template-areas:
  "header"
  "nav" 
  "search"
  "alert"    
  "charts"
  "social"
  "membersActivity"
 ;
}

.chartRegion {
  display: grid;
  grid-area: charts;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  grid-template-areas: 
  "traffic traffic "
  "bar donut"
  ;
}


//mainContainer grid items

.header {
  grid-area: header;
  background-color: $primary-color-light;   
}

.searchArea{
  grid-area: search;
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  
}

.alertArea{
  grid-area: alert;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  justify-self: center;
  align-items: baseline;
  margin: 1rem;
  background-color: $primary-color;
 
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 5px;
  }

.navArea{
  grid-area: nav;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  background-color: $primary-color;
  padding: 1rem;
}

.socialStatsArea{
  grid-area: social;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  
}

.membersActivity{
  grid-area: membersActivity;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;  
 }


//chartRegion grid items

.lineChart{
  grid-area: traffic;
}

.barChart{
  grid-area: bar;
  border-right: solid 1px rgba(0,0,0,0.2);
  border-top: solid 1px rgba(0,0,0,0.2);
  border-bottom: solid 1px rgba(0,0,0,0.2);
 
}

.donutChart{
  grid-area: donut;
  border-top: solid 1px rgba(0,0,0,0.2);
  border-bottom: solid 1px rgba(0,0,0,0.2);
 
}
 
 //Grid and Flex items



.logoArea{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items:center;
  }

  .appTitle{
    flex-grow: 1;     
    }

    #appTitle1{
      color: $white;
      font-weight: $font-bold;  
      }
    #appTitle2{
      color: $secondary-color-light;
      font-weight: $font-light;  
      }
  

.avatar{
border-radius: 50%;
height: 40px;
}

 //NavArea

 .icon{
  opacity:0.5;

 }

 .icon:hover, .icon-dash{
  opacity: 1;
  padding: 2px;
  border-left: solid $success 3px;
  border-radius: 10%;

}

//Search area


 .siteSearch{
  display:flex;
  justify-content: flex-end;
  width:90%;
  padding: 5px;
  background-color: $secondary-color-light; 
  opacity: 0.5; 
}


 #siteSearch{
  flex-grow: 0.3;
  padding: 5px;
  background-image: url('/icons/icon-search.svg');
  background-color: #fff;
  background-repeat: no-repeat;
  height: 30px;
  background-position: right;
  border-radius: 5px;
  
}

//Alert Area

.alertArea *{
  color: $white;
}

.alertMessage{
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;  
}

//Social Stats Area

.socialWidgets{
  
  display: flex;
  flex-flow: row nowrap;
  justify-content:space-around;
}

#socialStatsHead{
 padding-bottom: 1rem;
 margin-right: auto;
}

.socialCo{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;  
  background-color: $secondary-color-light; 
  border: solid $secondary-color 1px;
  border-radius: 3px;
   padding: 0.5rem;
}

.getTwitterData, .getFacebookData, .getGooglePlusData{
  display: flex;  
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  padding-left: 1rem;   
  
}

.containerSocialIcon{
  align-self: center;
  border-radius: 50%;
  background-color: $primary-color;
  padding: 0.5rem;

}

.socialIcon{
  padding: 0.2rem;
 
}

// //Members and Activity Area

.membersMessages, .activitySettings{
display:flex;
flex-flow: column nowrap;
padding-top: 1rem;
flex-grow:1;
}

// //New Members area
  .newMembersArea{
    display: flex;
    flex-flow: column nowrap;
    // flex-grow:1;
    border-right: solid 1px rgba(0,0,0,0.2);
    border-top: solid 1px rgba(0,0,0,0.2);
    border-bottom: solid 1px rgba(0,0,0,0.2);
    
  }
      .newMember{
        display:flex;        
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        
      }

      .aNewMember{
        display:flex;
        width: 95%;
        flex-flow: row nowrap;
        flex-grow:1;
        justify-content: center;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
        border-bottom: solid 5px $secondary-color-light;
        
      }

      .newMemberAvatar, .recentMemberAvatar{
        border-radius: 50%;
        margin:0.5rem;
        height: 50%;
      }

      .date{
        margin-left:auto;        
      }

//Message Area
.messageArea{
  display: flex;
  flex-flow: column nowrap;
  border-right: solid 1px rgba(0,0,0,0.2);
  border-top: solid 1px rgba(0,0,0,0.2);
  border-bottom: solid 1px rgba(0,0,0,0.2);
}

//       //Recent activity area

.recentActivityArea{
  display: flex;
  flex-flow: column nowrap;
  // flex-grow:1;
  border-right: solid 1px rgba(0,0,0,0.2);
  border-top: solid 1px rgba(0,0,0,0.2);
  border-bottom: solid 1px rgba(0,0,0,0.2);
  
}
    .recentActivity{
      display:flex;        
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      
    }

    .aRecentActivity{
      display:flex;
      width: 95%;
      flex-flow: row nowrap;
      
      justify-content: center;
      align-items: center;
      padding-left: 1rem;
      padding-right: 1.5rem;
      margin-left: 1rem;
      margin-right: 1rem;
      border-bottom: solid 5px $secondary-color-light;
      
    }






//   .settingsArea{
//     display: flex;
//     flex-flow: column nowrap;
//     border-top: solid 1px rgba(0,0,0,0.2);
//     border-bottom: solid 1px rgba(0,0,0,0.2);
//   }