/* ============================================= */


/*              Media Queries                    */


/* ============================================= */

@media (min-width: $breakpointTablet) {
    .container {
        margin: 0 auto;
           }
    
    }

@media (min-width: $breakpointDesktop) {
    .container {
        max-width: 1800px;
        margin: 0 auto;
       
    }
   
}